@font-face {
    font-family: "Gowun Dodum", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap'); format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Gowun Dodum', cursive;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* related width */
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

/* related index page*/
.main {
    display: flex;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}